textarea{
    overflow-y:scroll;
    resize: none;
}

.avatar{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.avatarWrapper {
    width: 110px;
    height: 110px;
    border: 6px solid #0077ff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.avatarImage {
    height: 90%;
    width: 90%;
    object-fit: cover;
}

.avatarInput {
    display: none;
}

.avatarLabel {
    color: #0077ff;
    margin: 10px 0;
    display: inline-block;
    cursor: pointer;
}


.forminput{
    margin-left: 20px;
    width:50%;
}

    .testbox {
    border: 1px saddlebrown solid;
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
    padding: 20px;
    }
    .memberform {
    box-shadow: 0 0 8px 0 #8ebf42;
    width: 70%;
    padding: 20px;
    border-radius: 6px;
    background: #fff;
    margin: 0;
    outline: none;
    font-family: Roboto, Arial, sans-serif;
    font-size: 14px;
    color: #666;
    line-height: 22px;
    }
    p.top-info {
    margin: 10px 0;
    }
    input, select, textarea {
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    }
    input {
    width: calc(100% - 10px);
    padding: 5px;
    }
    select {
    width: 100%;
    padding: 7px 0;
    background: transparent;
    }
    textarea {
    width: calc(100% - 12px);
    padding: 5px;
    }

    input[type="date"]::-webkit-calendar-picker-indicator {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: auto;
        height: auto;
        color: transparent;
        background: transparent;
    }

    .item:hover p, .item:hover i, .question:hover p, .question label:hover {
    color: #8ebf42;
    }
    .item input:hover, .item select:hover, .item textarea:hover {
    border: 1px solid transparent;
    box-shadow: 0 0 8px 0 #8ebf42;
    }
    .item {
    position: relative;
    margin: 10px 0;
    }
    input[type="date"]::-webkit-inner-spin-button {
    display: none;
    }
    .item i, input[type="date"]::-webkit-calendar-picker-indicator {
    position: absolute;
    font-size: 20px;
    color: #a9a9a9;
    }
    .item i {
    right: 2%;
    top: 30px;
    z-index: 1;
    }
    
    input[type=radio] {
    width: 0;
    visibility: hidden;
    }
    label.radio {
    position: relative;
    display: inline-block;
    margin: 5px 20px 25px 0;
    cursor: pointer;
    }
    .question span {
    margin-left: 30px;
    }
    label.radio:before {
    content: "";
    position: absolute;
    left: 0;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    border: 2px solid #8ebf42;
    }
    label.radio:after {
    content: "";
    position: absolute;
    width: 8px;
    height: 4px;
    top: 6px;
    left: 5px;
    background: transparent;
    border: 3px solid #8ebf42;
    border-top: none;
    border-right: none;
    transform: rotate(-45deg);
    opacity: 0;
    }
    input[type=radio]:checked + label:after {
    opacity: 1;
    }
    .btn-block {
    margin-top: 10px;
    text-align: center;
    }
  
    .item >p{
        margin: 0px;

    }
    select{
        width: fit-content;
        padding: 0px !important;
    }
    @media (max-width: 700px) {
    .testbox{
        padding: 10px !important;
    }
    .memberform{
        width: 100% !important;
    }
    .name_item, .city-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    }
    .name_item input, .city-item input {
    width: calc(50% - 20px);
    }
    .city-item select {
    width: calc(50% - 8px);
    }
    }