.container{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:xx-large;
    border: 1px solid black;
}

.container >div{
    color: rgb(27, 87, 37);
    margin: 1%;
    font-weight: bolder;
}